*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
.navbar{
    padding-top:30px;
}
@media only screen and (max-width:768px) {
    .navbar{
        background: rgba(0,0,0,0.8);
        position: fixed;
        top:0;
        left:0;
        width: 100%;
    }
}
.bolum1 .navbar-brand{
    font-weight: 600;
}
.bolum1 .navbar li{
    margin-left: 15px;
}
.bolum1 .navbar li a{
    font-size: 16px;
    color:white !important;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.3s;
}
.bolum1 .navbar .navbar-nav .active>a{
    color:#f7b71d !important;
}
.bolum1 .navbar .navbar-nav a:hover{
    color:#f7b71d !important;
}




body{
    background: linear-gradient(to top right,#05c98e,#240E88);
    min-height: 100vh;
}
.cvKismi{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container2{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    margin: 50px;
}
.container2 .solkisim{
    position: relative;
    padding:40px;
    background: #501471;
}
.profilkismi{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profilkismi .resimkutusu{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.profilkismi .resimkutusu img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profilkismi h2{
    color:#fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profilkismi h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.iletisimbilgileri{
    padding-top: 40px;
}
.baslik{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
}
.iletisimbilgileri ul{
    position: relative;
}  
.iletisimbilgileri ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
} 
.iletisimbilgileri ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:#03a9f4;
}
.iletisimbilgileri ul li span{
    color:#fff;
    font-weight: 300;
} 
.iletisimbilgileri.egitim li{
    margin-bottom: 15px;
} 
.iletisimbilgileri.egitim h5{
    color:#03a9f4;
    font-weight: 500;
} 
.iletisimbilgileri.egitim h4:nth-child(2){
    color:#fff;
    font-weight: 500;
    font-size: 20px;
} 
.iletisimbilgileri.egitim h4{
    color:#fff;
    font-weight: 300;
    font-size: 20px;
}   
.iletisimbilgileri.dil .yüzde{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.iletisimbilgileri.dil .yüzde div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: #03a9f4;
}


.container2 .sagkisim{
    position: relative;
    padding:40px;
}
.bilgi{
    margin-bottom: 50px;
}
.bilgi:last-child{
    margin-bottom: 0;
}
.baslik2{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    font-size: 1.2em;
}
.bilgi .kutu{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.yetenekler .kutu{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.yetenekler .kutu h4{
    color:#848c99;
    font-weight: 500;
}
.yetenekler .kutu .yüzde{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.yetenekler .kutu .yüzde div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: #03a9f4;
}
.ilgialani ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.ilgialani ul li{
    list-style: none;
    font-weight: 500;
    margin: 10px 0;
}
.ilgialani ul li .bx{
    color:#03a9f4;
    font-size: 18px;
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-width:1000px){
    .container2{
        margin:10px;
        grid-template-columns: repeat(1,1fr);
    }
    .ilgialani ul{
        grid-template-columns: repeat(2,1fr);
    }
    .iletisimbilgileri{
        text-align: center;
    }
    .sagkisim .bilgi .baslik2{
        text-align: center;
    }
    .ilgialani ul li{
        text-align: center;
    }
}
@media screen and (max-width:600px){
    .bilgi .kutu{
        flex-direction: column;
    }
    .ilgialani ul{
        grid-template-columns: repeat(1,1fr);
    }
    .yetenekler .kutu{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:768px){
    .cvKismi{
        margin-top: 230px;
    }
}